<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/assets/js/jquery.fitvids.js"></script>
<script>
    $(document).ready(function() {
        // Target your .container, .wrapper, .post, etc.
        $(".postpage-content").fitVids();
    });
</script>
<br>
<hr style="height: 5px;width:60%;margin-top : 35px; background-color: #115f93;">
<div  class="footer-basic">
    <footer>

        <div class="social">
            <a href="https://instagram.com/{{site.social.instagram}}">{%- include instagram-icon.html -%}</a>
            <a href="https://facebook.com/{{site.social.facebook}}">{%- include facebook-icon.html -%}</a>
            <a href="https://twitter.com/{{site.social.twitter}}">{%- include twitter-icon.html -%}</a>
            <a href="mailto:{{site.email}}">{%- include email-icon.html -%}</a>
        </div>
        <div class="text-center" id="read-en-banner"><a target="_blank" href="https://palashbauri.in">- বাংলায় পড়ুন -</a></div><br>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Lunatic Boy's Blog to Make this World A Better Place</a></li>
        </ul>

        <p class="copyright">© Palash Bauri </p>
    </footer>
</div>
