a.post-link-a{
  text-decoration: none !important;
}

.post-title{
  color: #000f62;
  font-weight: bold;
}

.post-description{
  color: black;
  text-align:justify;  
  text-justify:auto;
}

.postpage-title{
  color:#000f62;
  font-weight: bolder;
  text-decoration: none;
}

.postpage-datetag{
  color: #115f93;
  font-size: small;
  margin-bottom: 10px;
}

.postpage-cover {
    /*margin: 0 -10vw -165px;*/
    /*height: 800px;*/
    /*background: var(--lightgrey) center center;*/
    /*background-size: cover;*/
    max-width: 920px;
    border-radius: 8px;
}

.postpage-content{
  font-size:22px;
  color: 1a1a1aff;
  display: flex;
  flex-direction: column;
  /*color: rgb(60, 72, 78);*/
  align-items: center;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 35.2px;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}


/*.postpage-content > p:first-child {
    font-size: 1.25em;
    line-height: 1.5em;
}*/

.postpage-content img,
.postpage-content video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top : 1.5rem;
    margin-bottom: 1.5rem;
    max-width: 1040px;

}
@media (max-width: 1040px) {
    .postpage-content img,
    .postpage-content video {
        width: 100%;
    }
}

.postpage-content img[src$="#full"] {
    max-width: none;
    width: 100vw;
}

.postpage-content .icap {
    display: block;
    margin-top: -1.5em;
    margin-bottom: 0.8em;
    color: gray;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

.postpage-content iframe {

    margin: 0 auto;


}

.post-full-comments {
    margin: 0 auto;
    max-width: 840px;
}

.postpage-content blockquote {
    margin: 0 0 1.5em;
    padding: 0 1.5em;
    border-left: #3eb0ef 3px solid;
}

.postpage-content blockquote p {
    margin: 0 0 1em 0;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-style: italic;
}

.postpage-content blockquote p:last-child {
    margin-bottom: 0;
}

.postpage-content code {
    padding: 0 5px 2px;
    font-size: 0.8em;
    line-height: 1em;
    font-weight: 400!important;
    background: var(--whitegrey);
    border-radius: 3px;
}

.postpage-content pre {
    overflow-x: auto;
    margin: 1.5em 0 3em;
    padding: 20px;
    max-width: 100%;
    border: color(var(--darkgrey) l(-10%)) 1px solid;
    color: var(--whitegrey);
    font-size: 1.4rem;
    line-height: 1.5em;
    background: color(var(--darkgrey) l(-3%));
    border-radius: 5px;
}

.postpage-content pre code {
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    background: transparent;
}

.postpage-content pre code * {
    color: inherit;
}

.postpage-content .fluid-width-video-wrapper {
    margin: 1.5em 0 3em;
}

.postpage-content hr {
    margin: 4vw 0;
}

.postpage-content hr:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    display: block;
    margin-left: -10px;
    width: 1px;
    height: 30px;
    background: color(var(--lightgrey) l(+10%));
    box-shadow: #fff 0 0 0 5px;
    transform: rotate(45deg);
}

.postpage-content h1,
.postpage-content h2,
.postpage-content h3,
.postpage-content h4,
.postpage-content h5,
.postpage-content h6,
.postpage-content p,
.postpage-content ul,
.postpage-content ol,
.postpage-content dl,
.postpage-content pre,
.postpage-content blockquote,
.post-full-comments,
.footnotes {
    min-width: 100%;
}

.postpage-content li {
    word-break: break-word;
}

.postpage-content li p {
    margin: 0;
}

.postpage-content a {
    color: #000;
    box-shadow: var(--blue) 0 -1px 0 inset;
}

.postpage-content a:hover {
    color: var(--blue);
    text-decoration: none;
}

.postpage-content strong,
.postpage-content em {
    color: color(var(--darkgrey) l(-5%));
}

.postpage-content small {
    display: inline-block;
    line-height: 1.6em;
}

.postpage-content li:first-child {
    margin-top: 0;
}

.postpage-content h1,
.postpage-content h2,
.postpage-content h3,
.postpage-content h4,
.postpage-content h5,
.postpage-content h6 {
    color: color(var(--darkgrey) l(-5%));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.postpage-content h1 {
    margin: 0.5em 0 0.2em 0;
    font-size: 4.6rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    .postpage-content h1 {
        font-size: 2.8rem;
    }
}

.postpage-content h2 {
    margin: 0.5em 0 0.2em 0;
    font-size: 3.6rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    .postpage-content h2 {
        font-size: 2.6rem;
    }
}

.postpage-content h3 {
    margin: 0.5em 0 0.2em 0;
    font-size: 2.8rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    .postpage-content h3 {
        font-size: 2.2rem;
    }
}

.postpage-content h4 {
    margin: 0.5em 0 0.2em 0;
    font-size: 2.8rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    .postpage-content h4 {
        font-size: 2.2rem;
    }
}

.postpage-content h5 {
    display: block;
    margin: 0.5em 0;
    padding: 1em 0 1.5em;
    border: 0;
    color: var(--blue);
    font-family: Georgia,serif;
    font-size: 3.2rem;
    line-height: 1.35em;
    text-align: center;
}
@media (min-width: 1180px) {
    .postpage-content h5 {
        max-width: 1060px;
        width: 100vw;
    }
}
@media (max-width: 500px) {
    .postpage-content h5 {
        padding: 0 0 0.5em;
        font-size: 2.2rem;
    }
}

.postpage-content h6 {
    margin: 0.5em 0 0.2em 0;
    font-size: 2.3rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    .postpage-content h6 {
        font-size: 2rem;
    }
}

.postpage-content table {
    display: inline-block;
    overflow-x: auto;
    margin: 0.5em 0 2.5em;
    max-width: 100%;
    width: auto;
    border-spacing: 0;
    border-collapse: collapse;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    white-space: nowrap;
    vertical-align: top;
}

.postpage-content table {
    -webkit-overflow-scrolling: touch;
    background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
    background-attachment: scroll, scroll;
    background-size: 10px 100%, 10px 100%;
    background-repeat: no-repeat;
}

.postpage-content table td:first-child {
    background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-size: 20px 100%;
    background-repeat: no-repeat;
}

.postpage-content table td:last-child {
    background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-position: 100% 0;
    background-size: 20px 100%;
    background-repeat: no-repeat;
}

.postpage-content table th {
    color: var(--darkgrey);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-align: left;
    text-transform: uppercase;
    background-color: color(var(--whitegrey) l(+4%));
}

.postpage-content table th,
.postpage-content table td {
    padding: 6px 12px;
    border: color(var(--whitegrey) l(-1%) s(-5%)) 1px solid;
}

.floating-header {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: rgba(0,0,0,0.06) 1px solid;
    background: rgba(255,255,255,0.95);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate3d(0, -120%, 0);
}

.floating-active {
    visibility: visible;
    transition: all 500ms cubic-bezier(0.22, 1, 0.27, 1);
    transform: translate3d(0, 0, 0);
}

.floating-header-logo {
    overflow: hidden;
    margin: 0 0 0 20px;
    font-size: 1.6rem;
    line-height: 1em;
    letter-spacing: -1px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.floating-header-logo a {
    display: flex;
    align-items: center;
    color: var(--darkgrey);
    line-height: 1.1em;
    font-weight: 700;
}

.floating-header-logo a:hover {
    text-decoration: none;
}

.floating-header-logo img {
    margin: 0 10px 0 0;
    max-height: 20px;
}

.floating-header-divider {
    margin: 0 5px;
    line-height: 1em;
}

.floating-header-title {
    flex: 1;
    overflow: hidden;
    margin: 0;
    color: #2e2e2e;
    font-size: 1.6rem;
    line-height: 1.3em;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.floating-header-share {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 2%;
    font-size: 1.3rem;
    line-height: 1;
}

.floating-header-share a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-header-share svg {
    width: auto;
    height: 16px;
    fill: #fff;
}

.floating-header-share-label {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: rgba(0,0,0,0.7);
    font-weight: 500;
}

.floating-header-share-label svg {
    margin: 0 5px 0 10px;
    width: 18px;
    height: 18px;
    stroke: rgba(0,0,0,0.7);
    transform: rotate(90deg);
}

.floating-header-share-tw,
.floating-header-share-fb {
    display: block;
    align-items: center;
    width: 60px;
    height: 60px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.floating-header-share-tw {
    background: #33b1ff;
}

.floating-header-share-fb {
    background: #005e99;
}

.progress {
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    border: none;
    color: var(--blue);
    background: transparent;

    appearance: none;
}

.progress::-webkit-progress-bar {
    background-color: transparent;
}

.progress::-webkit-progress-value {
    background-color: var(--blue);
}

.progress::-moz-progress-bar {
    background-color: var(--blue);
}

.progress-container {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent;
}

.progress-bar {
    display: block;
    width: 50%;
    height: inherit;
    background-color: var(--blue);
}

@media (max-width: 900px) {
    .floating-header {
        height: 40px;
    }
    .floating-header-title,
    .floating-header-logo {
        font-size: 1.5rem;
    }
    .floating-header-share-tw,
    .floating-header-share-fb {
        width: 40px;
        height: 40px;
        line-height: 38px;
    }
}

@media (max-width: 800px) {
    .floating-header-logo {
        margin-left: 10px;
    }
    .floating-header-logo a {
        color: #2e2e2e;
    }
    .floating-header-title,
    .floating-header-divider {
        visibility: hidden;
    }
}

@media (max-width: 450px) {
    .floating-header-share-label {
        display: none;
    }
}
.pagination a {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination span{

}

.pagi-num{
    font-size: 14px;
    padding: 2px !important;
}

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    margin-top: 15px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: left;
 }





/*
Source : https://github.com/bootstrapstudio/basic-footer-bootstrap-snippet
*/

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  /*line-height:40px;*/
  display:inline-block;
  text-align:center;
/*  border-radius:50%;
  border:1px solid #ccc;*/
  /*margin:0 px;*/
  color:inherit;
  /*opacity:0.75;*/
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:10px;
  text-align:center;
  font-size:15px;
  color:#115f93;
  margin-bottom:0;
}


